.x-navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: $color-purple;
  color: #fff;
  font-weight: 300;
  z-index: 1;
  transition: all 0.4s;
  width: 100%;

  @include mq('sm') {
    @include rem(padding, 10px 30px);
    top: 100px;
  }

  @include mq('sm', max) {
    @include rem(padding, 10px 20px);
    transform: translateX(0);
    top: 137px;
    width: 95%;

    &:not(.is--active) {
      opacity: 0;
      transform: translateX(-105%);
    }
  }
}