.x-footer {
  &__links {
    width: 50%;

    @include mq('sm', max) {
      width: 100%;
    }
    
    &-company {
      @include rem(padding, 10px 0);
      display: flex;
      flex-wrap: wrap;

      @include mq('sm', max) {
        display: none;
      }

      li {
        @include rem(margin-right, 30px);
        @include rem(margin-bottom, 10px);
        font-family: $font-open;
        font-weight: 600;
        text-transform: uppercase;

        a {
          color: $color-red;

          @include mq('sm') {
            @include rem(font-size, 17px);
          }
        }
      }
    }

    &-social {
      @include rem(margin-top, 20px);

      &-icons {
        @include mq('sm', max) {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
        }
        
        a {
          @include rem(margin-right, 30px);
          @include mq('sm', max) {
            @include rem(margin, 0 15px);
          }
        }
      }
    }
  }
}