.x-footer {
  &__container {
    @include rem(padding, 20px 30px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: $color-gray-light;

    @include mq('sm', max) {
      flex-direction: column;
    }
  }
}