.x-footer {
  &__newsletter {
    @include rem(border-radius, 5px);
    @include rem(padding, 30px 20px);
    box-sizing: border-box;
    background: $color-white;
    width: 50%;

    @include mq('lg') {
      width: 30%;
    }

    @include mq('sm', max) {
      width: 100%;
      order: -1;
    }

    span {
      @include rem(margin-bottom, 10px);
      display: block;
      font-weight: 300;
    }

    &-title, &-sub {
      text-align: center
    }

    &-group {
      display: flex;
      justify-content: space-between;
    }

    &-input {
      @include rem(padding, 10px);
      @include rem(margin-right, 5px);
      @include rem(border-radius, 5px);
      @include rem(font-size, 14px);
      width: 100%;
      border: 1px solid #000;
      font-family: $font-open;
    }

    &-button {
      @extend %btn--primary;
      @include rem(width, 100px);
    }
  }
}