@import url("animates.css");
@import url("header.css");
@import url("main.css");
@import url("footer.css");
@import url("mobile.css");

body {
  margin: 0;
  font-family: "Droid Sans", serif;
}

button, input {
  outline: none;
}

.btn {
  color: #FFF;
  border-radius: 3px;
  cursor: pointer;
  border: none;
}

.btn-orange {
  background-color: #D63A1E;
  border: 1px solid #D63A1E;
}

.hidden {
  display: none;
}