.x-header {
  &__menu {

    @include mq('sm') {
      display: none;
    }

    &-icon {
      cursor: pointer;
      svg {
        @include rem(width, 35px);
        @include rem(height, 35px);
      }
    }

    &.js--menu {
      #cross_svg {
        rect {
          transform: translateX(0);
          fill: $color-purple;
          transition: all .3s ease;
        }
      }
    }

    &.js--menu-opened {
      @include rem(padding-top, 5px);
      @include rem(margin-right, 20px);

      #cross_svg {
        #line-1 {
          transform: rotate(45deg) translateY(25%);
          transform-origin: center;
        }
        #line-2 {
          opacity: 0;
        }
        #line-3 {
          transform: rotate(-45deg) translateY(-25%);
          transform-origin: center;
        }
      }
    }
  }
}