.x-header {
  height: 100px;
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  &__container {
    @include rem(padding, 10px 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 100%;

    @include mq('sm', max) {
      @include rem(padding, 10px 15px);
    }
  }
}