.x-header {
  &__shipping {
    color: $color-red;
    text-align: center;
    font-weight: 300;

    @include mq('sm', max) {
      display: none;
    }

    span:first-child {
      @include rem(font-size, 23px);
    }

    span:last-child {
      display: block;
    }

    &-mobile {
      @include rem(height, 35px);
      width: 100%;
      text-align: center;
      background-color: $color-gray-light;

      @include mq('sm') {
        display: none;
      }

      div {
        @include rem(margin-top, 3px);
        @include rem(padding, 3px);
      }

      span {
        @include rem(font-size, 18px);
        font-weight: 300;
        font-style: italic;
      }
    }
  }
}