.x-header {
  &__logo {
    text-align: center;
    &-title {
      @include rem(font-size, 35px);
      color: $color-red;
      font-weight: 700;

      span {
        font-weight: 300;
      }

      @include breakpoint(max-width, 996px) {
        @include rem(font-size, 30px !important);
      }

      @include breakpoint(max-width, 469px) {
        @include rem(font-size, 20px !important);
      }

      @include mq('sm', max) {
        @include rem(font-size, 25px);
      }
    }

    &-sub {
      position: relative;

      h4 {
        @include rem(width, 150px);
        margin: 0 auto;
        font-weight: 400;
        color: $color-purple-lighten;
        background: #fff;

        @include breakpoint(max-width, 469px) {
          @include rem(font-size, 14px);
        }
      }

      &::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        left: 0;
        top: 50%;
        background-color: #B9B9B9;
        z-index: -1;
      }
    }
  }
}