extends ./_layouts/_base.pug

//- Template variables
block vars
  - var $templateName = 'home'
  - var $templateClass = 'home'

//- Page styles
block append styles
  link(href=`assets/css/merlins-${$templateName}.css`, media='all' rel='stylesheet')/

//- Main Content
block content
  div(class='x-home__container')
    h1(class='x-home__title') Potions
    div(class='x-home__not-loaded') It wasn't possible to obtain the potions... Check your browser console for more details.
    div(class='x-home__grid')

//- Page scripts
block append scripts

