/**
 * Colors
 */
 
// Purple
 $color-purple-darken    : #422a53;
 $color-purple           : #523468;
 $color-purple-lighten   : #654A79;
 
// White and Variations
$color-white             : #fff;
$color-gray              : #666666;
$color-gray-light        : #e6e6e6;
 
 // Others colors
 $color-red              : #d73a1e;